{
  "http_interactions": [
    {
      "request": {
        "method": "get",
        "uri": "https://api.themoviedb.org/3/search/movie?limit=20&query=Shaw",
        "body": {
          "encoding": "US-ASCII",
          "string": ""
        },
        "headers": {
          "Authorization": [
            "Bearer <BEARER_TOKEN>"
          ]
        }
      },
      "response": {
        "status": {
          "code": 200,
          "message": "OK"
        },
        "headers": {
          "Content-Type": [
            "application/json;charset=utf-8"
          ],
          "X-Memc": [
            "HIT"
          ],
          "X-Memc-Key": [
            "0c1a211945534a2d0f8de12873cddba2"
          ],
          "X-Memc-Age": [
            "16343"
          ],
          "X-Memc-Expires": [
            "11972"
          ],
          "Etag": [
            "W/\"22fac6d309eb6b0698ccea0d24cab0de\""
          ]
        },
        "body": {
          "encoding": "ASCII-8BIT",
          "string": "{\"page\":1,\"results\":[{\"adult\":false,\"backdrop_path\":\"/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg\",\"genre_ids\":[18,80],\"id\":278,\"original_language\":\"en\",\"original_title\":\"The Shawshank Redemption\",\"overview\":\"Imprisoned in the 1940s for the double murder of his wife and her lover, upstanding banker Andy Dufresne begins a new life at the Shawshank prison, where he puts his accounting skills to work for an amoral warden. During his long stretch in prison, Dufresne comes to be admired by the other inmates -- including an older prisoner named Red -- for his integrity and unquenchable sense of hope.\",\"popularity\":153.044,\"poster_path\":\"/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg\",\"release_date\":\"1994-09-23\",\"title\":\"The Shawshank Redemption\",\"video\":false,\"vote_average\":8.704,\"vote_count\":26120},{\"adult\":false,\"backdrop_path\":\"/hpgda6P9GutvdkDX5MUJ92QG9aj.jpg\",\"genre_ids\":[28,12,35],\"id\":384018,\"original_language\":\"en\",\"original_title\":\"Fast \\u0026 Furious Presents: Hobbs \\u0026 Shaw\",\"overview\":\"Ever since US Diplomatic Security Service Agent Hobbs and lawless outcast Shaw first faced off, they just have traded smack talk and body blows. But when cyber-genetically enhanced anarchist Brixton's ruthless actions threaten the future of humanity, they join forc[...]
